.toggleButton {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my_data {
    list-style: none;
    margin: 0;
    margin-bottom: 30px;
}

.data_line {
    width: 50vw;
    color: #ededed;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.inputField {
    width: 100%;
}

.save_btn {
    margin: 0, 50%;
}