.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 94px;
    left: 0;
    width: 100%;
    background-color: #282828;
    color: #ededed;
    z-index: 10;
}

.wrapper {
    width: clamp(200px, 75%, 1420px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex: 1;
    align-items: center;
}


.menuLink {
    margin: 0 2rem;
    color: #ededed;
    font-size: 18px;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    background-color: transparent;
    background-image: url('../../../../public/img/profile.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu {
    box-sizing: border-box;
    position: absolute;
    right: 12.5%;
    bottom: -150%;
    display: flex;
    flex-direction: column;
    padding: 30px 45px;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
    border-radius: 0px 0px 20px 20px;
    transform-origin: top;

    // transform: scaleY(100%);
}

.menuNav {
    display: none;
}

.backBtn {
    display: none;
}

.headerBtnMenu {
    display: none;
}

.profileLink {
    font-size: 18px;
    margin-bottom: 30px;
}


@media only screen and (max-width: 1055px) {

    .header {
        height: 78px;
    }

    .nav {
        display: none;
    }

    .headerBtnMenu {
        display: block;
    }

    .menuNav {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        margin-bottom: 15px;
    }

    .menu {
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        padding: 50px;
    }

    .backBtn {
        display: block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        background-image: url('../../../../public/img/backBtn3.svg');
        background-size: contain;
        // transform: rotate(90deg);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .headerBtn {
        display: none;
    }

    .avatar {
        background-image: url('../../../../public/img/menu_icon.svg');
        width: 25px;
        height: 25px;
    }

}

@media only screen and (max-width: 600px) {

    .header {
        height: 64px;
    }
}