* {
    margin: 0;
    padding: 0;
    background-color: #202020;
    height: 100%;
}

html {
    height: 100%;
}

.wrapper {
     width: 100%;
     background-color: #202020;
}

header {
    display: flex;
}

.content {
    flex: 1 1 auto;
    padding: 50px;
}