.toggleButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
    width: clamp(28rem, 50vw, 94rem);
    background-color: #282828;
    border-radius: 40px;
}

.notActive {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ededed;
    border-radius: 20px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #282828;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ededed;
    border-radius: 20px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #5F4BFF;

}


@media screen and (max-width: 953px) {
    .toggleButton {
        padding: 0;
        width: 90vw;
        background-color: transparent;
        overflow: scroll;
    }

    .active {
        width: auto;
        padding: 10px 20px;
        margin-right: 20px;
    }

    .notActive {
        width: auto;
        padding: 10px 20px;
        margin-right: 20px;
    }
}