@import '../../../scss/variables';

.button {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 10px 45px;
    background: $common;
    color: $common-text;
    border: none;
    border-radius: $button-border-radius;
    box-shadow: none;
    cursor: pointer;
}

.style_primary {
    background-color: $primary;
    color: $primary-text;
}

.style_info {
    padding: 12px 20px;
    font-size: 24px;
    background-color: $info;
    color: $info-text;
}

.style_danger {
    background-color: $danger;
    color: $danger-text;
}

.style_shuffle {
    padding: 12px 25px;
    font-size: 24px;
    background-color: $shuffle;
    color: $shuffle-text;
}